.hero-section {
    background: url('/images/hero.jpeg') center/cover no-repeat;
    min-height: 70vh;
    position: relative;
}

/* Mobile background and adjustments */
@media(max-width: 767px) {
    .hero-section {
        background: url('/images/hero-mobile.jpeg') center/cover no-repeat;
        /*min-height: 40vh;*/
    }

    .hero-text-wrapper {
        text-align: center;      /* center text */
        margin-top: 20rem;        /* push text down a bit */
    }

    .hero-title {
        font-size: 0.5rem;       /* smaller text on mobile */
    }

    .hero-btn {
        width: 100%;             /* full-width button on mobile */
        padding: 0.8rem 1rem !important;
    }
}

/* Desktop / medium+ screens */
.hero-title {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.35;
}

@media(min-width: 768px) {
    .hero-title {
        font-size: 3.2rem;
    }
}

.hero-btn {
    font-size: 1.6rem;
    padding: 0.9rem 8rem;
    border-radius: 0.6rem;
    font-weight: 600;
    display: inline-block;
}

